body, html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    background-color: black;
    font-family: 'Inter', sans-serif; 
}

h1 {
    color: rgb(240, 240, 255);
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
}

.post {
    background-color: #69c1d1;
    border-radius: 8%;
    border: 3px solid #000000;
    height: auto;
    width: 40%;
    align-items: center;
    margin: 7% auto;
    padding: 5%;
}

.cards {
    width: 60%;
    background-color: #152b31;
    border: 3px solid #69c1d1;
    border-radius: 8%;
    padding: 1rem;
    margin-left: 19%;
    min-width: 21rem;
    min-height: 33rem;
}

h2 {
    font-size: 1.5vw;
    padding: 10%;
    align-items: center;
    color: rgb(50, 50, 50); 
}

.input {
    width: 80%;
    height: 2.5vw; 
    font-size: 1.3vw;
    margin-left: 10%;
    border: 2px solid black; 
    border-radius: 0.2vw;
}

.btn {
    width: 4.5vw;
    height: 3vw;
    font-size: 1.2vw;
    background-color: #688d96;
    color: white; 
    border-radius: 5px;
    margin-top: 15%;
    margin-left: 64%;
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #354a50;
}

.player-card-container{
    display: flex;
    display: flexbox;
}

.fifa-card {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: #ffef44;
    border: 4px solid #000;
    border-radius: 15px;
    text-align: center;
    color: black;
    margin: 10px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/FIFA_Card.png/600px-FIFA_Card.png');
    background-size: cover;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  }
  
  .fifa-rating {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    font-weight: bold;
  }
  
  .fifa-image img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-top: 27%;
  }
  
  .fifa-info {
    bottom: 10px;
    width: 100%;
  }
  
  .fifa-name {
    font-size: 45px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
  #removeButton {
    width: 10vw;
    height: 3vw;
    font-size: 1.2vw;
    background-color: #d9534f;
    color: white;
    border-radius: 0.5vw;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 0.3s ease-in-out;
}

#removeButton:hover {
    background-color: #c9302c;
}