body, html, *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 10px;
}

body{
    background-color: black;
}

h1{
    color: rgb(240, 240, 255);
    font-size: 80px;
    text-align: center;
}
.post{
    background-color: cornflowerblue;
    border-radius: 8%;
    border: solid;
    border-color: rgb(64, 94, 142);
    border-width: 3%;
    height: 75%;
    width: 40%;
    align-items: center;
    margin-left: 10%;
    margin-top: 7%;
    padding-top: 5%;
}
.cards {
    width: 60%;
    height: 35vw;
    background-color: rgb(189, 193, 236);
    border: solid;
    border-color: rgb(61, 81, 137);
    margin-top: 1rem;
    border-radius: 8%;
    align-items: center;
    min-width: 21rem;
    min-height: 33rem;
    margin-left: 20%;
}
h2{
    font-size: 1.5vw;
    margin-left: 20%;
}
.input{
    width: 8vw;
    height: 2vw;
    margin-left: 20%;
    margin-bottom: 15%;
    font-size: 1.3vw;
    border-color: black;
    border-radius: 0.2vw;
}
.btn{
    width: 4vw;
    height: 1.5vw;
    font-size: 1vw;
    margin-left: 5%;
    background-color: rgb(74, 98, 169);
}